{{i18n 'topic_permalink.link_label'}}: <a class="category-permalink" href="/{{model.category.category_permalink}}/{{model.id}}">
{{i18n 'topic_permalink.link_text'}}-- {{model.base_url}}{{model.category.category_permalink}}/{{model.id}}"</a>